.address {
  text-align: left;
  font-family: "Times New Roman";
  font-size:medium;
}
.OwnAddress{
  font-size: medium;
}
.greetings {
  text-align: left;
}
h3,.greetings{
  font-family: "Times New Roman";
}
.Ansprechpartner {
  font-size: smaller;
}